test/*
*.exe
*~
*.o
*.obj
*.dll
*.exp
*.ilk
*.pdb
*.lib
*.so
*.tmp
doc/*.log
doc/*.out
doc/*.aux
doc/*.toc
*.dump
results.json
results.dat
variables.json
run-test
*.log
.vscode/
.vs/
*.xml
*.csv
*.gdb_history